# Cargo build artifacts
/target/
debug/

# rustfmt backups
**/*.rs.bk

# MSVC Windows debug symbols
*.pdb

# cargo-mutants output
**/mutants.out*/

# Local environment files
.env
.env.*

# Editor and IDE metadata
.idea/
.vscode/

# OS metadata
.DS_Store
Thumbs.db
